<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
     <p>Revitalising Rainfed Agriculture Network (RRAN) – Secretariat, Vrutti Livelihood Resource Centre, N199, Ground floor Greater Kailash Part - I, New Delhi 110048;  +91 11 29232280; 
      <br/>
     <a href="secretariat@rainfedindia.org">secretariat@rainfedindia.org</a>, 
     <br/>
     <a href="http://www.rainfedindia.org">www.rainfedindia.org</a> </p>
     <p>
      &copy; RRAN 2015 - 16. All rights reserved.
     </p>
    </div>

  </div>

</footer>
