<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" title="{{ site.title }}"></a>


    <nav class="site-nav">
      

      <div class="trigger">

        <ul class="menu">
          <li class="menu-item" id="menu-1"><a href="{{ site.baseurl }}/about">About</a></li>
          <li class="menu-item" id="menu-2"><a href="{{ site.baseurl }}/practice">Practice</a></li>
          <li class="menu-item" id="menu-3"><a href="{{ site.baseurl }}/research">Research</a></li>
          <li class="menu-item" id="menu-4"><a href="{{ site.baseurl }}/policy">Policy</a></li>
          <li class="menu-item" id="menu-5"><a href="{{ site.baseurl }}/resources">Resources</a></li>
        </ul>
        
      </div>
    </nav>

  </div>

</header>
